<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                What started off as just a computer hobby at 13 years old, has now turned into a proffesion. Joshua enjoy all things computers, from building custom computers for friends and family, playing the most recent games in max settings for benchmarking, virtualizing my first VM (Kali Linux) at 14 years old. Fast forward to now, transitioning into the world of cybersecurity. 
            <p class="paragraph-text justify-text">
                Some of Joshua's hobbies are, hiking in the beautiful pacific northwest, road tripping with no destination, casual gaming with old buddies, joining clubs to meet like minded individuals, developing new relationships , and archery.
                <p class="paragraph-text justify-text">
                Some of Joshua's hobbies are, hiking in the beautiful pacific northwest, road tripping with no destination, casual gaming with old buddies, joining clubs to meet like minded individuals, developing new relationships , and archery.        
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
