<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
             What started off as just a computer hobby at 13 years old, has now turned into a profession. Joshua enjoys everything computer-related, including building custom computers for friends and family, playing the latest games at maximum settings for benchmarking, and virtualizing his first VM (Kali Linux) at the age of 14. Fast forward to now, transitioning into the world of cybersecurity.
            <p class="paragraph-text justify-text">
                Some of Joshua's hobbies are, hiking in the beautiful pacific northwest, road tripping with no destination, casual gaming with old buddies, joining clubs to meet like minded individuals, developing new relationships , and archery.
            <p class="paragraph-text justify-text">
                Joshua maintains a blog at <a href="{{ site.blog_url }}">DarkSymphonie.com</a> where he will showcase tutorials on hacking, forensics, scripting, networking, and much more. as well as cyber news and current events going on in the cybersecurity industry. I will post projects on GitHub,<a href="https://github.com/{{ site.github_username }}">GitHub</a>. To further reach me, don't be afraid to reach me at the sites linked at the bottom 
        <span class="extra-link"><a href="#extra">bottom</a></span> of this page!
            </p>
        </div>
    </section>
</div>
